.app.dark {
    --bg-color: #191941;
    --inverted-bg-color: #e4e0e0;

    --primary-color: rgb(50, 110, 50);
    --secondary-color: rgb(78, 201, 78);

    --inverted-primary-color: rgb(44, 58, 96);
    --inverted-secondary-color: rgb(98, 147, 216);
}